.git
.github
.vs
.vscode
**/bin
**/obj
**/tests
**/TestResults
**/coverage
**/node_modules
**/build
**/dist
*.db
*.db-wal
*.db-shm
uploads
**/uploads
.env
.env.*
appsettings.Production.json
appsettings.Local.json
appsettings.Development.local.json
**/secrets*
*.user
*.suo
*.pdb
*.log
*.tmp
*.temp
Dockerfile*
docker-compose*
